<ion-header>
  <ion-toolbar style="--background: #119DA4; color: white; height: 90px; display: flex;">
    <ion-row>
      <ion-col size="2">
        <ion-buttons>
          <ion-back-button defaultHref="/global-settings/scenes" style="--color: white; font-size: 15px;"></ion-back-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="8">
        <ion-title><h3>{{'ADD SCENES' | translate}}</h3></ion-title>        
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-right: 10px;" scrollEvents="true" (ionScroll)="onScroll($event)">
  <div class="ion-padding">
    <form [formGroup]="form">
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{ 'NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item> 
      </ion-list>
    </form>
    
    <ion-list>
      <ion-list-header *ngIf="lightNodes?.length">
        <ion-label>{{ 'LIGHTS' | translate }}</ion-label>
      </ion-list-header>

      <ion-item-group *ngFor="let node of lightNodes">
        <ion-item >
          <ion-label>{{node?.display_name || node?.name}}</ion-label>
          <ion-toggle color="dark" slot="end" 
            [(ngModel)]="localNodes[node._id].available" 
            (ionChange)="changeAvailability(node._id, localNodes[node._id].available)">
          </ion-toggle>
        </ion-item>
        <ion-item-group *ngIf="localNodes[node._id].available">
          <ion-item *ngFor="let endpoint of node?.scheme?.endpoints | nodeEndpointsOutput; let i = index">
            <ion-icon slot="start" name="bulb-outline" class="icon icon-gz-bulb"></ion-icon>
            <ion-label>{{endpoint.display_name || endpoint.name}}</ion-label>
            <ion-toggle slot="end" 
              [(ngModel)]="localNodes[node._id].endpoints[i].defaultState" 
              (ionChange)="changeState(node._id, endpoint._id, localNodes[node._id].endpoints[i].defaultState === 'On')">
            </ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-item-group>

      <ion-list-header *ngIf="blindNodes?.length">
        <ion-label>{{ 'BLINDS' | translate }}</ion-label>
      </ion-list-header>

      <ion-item-group *ngFor="let node of blindNodes">
        <ion-item >
          <ion-label>{{node?.display_name || node?.name}}</ion-label>
          <ion-toggle slot="end" color="dark" 
            [(ngModel)]="localNodes[node._id].available" 
            (ionChange)="changeAvailability(node._id, localNodes[node._id].available)">
          </ion-toggle>
        </ion-item>
        <ion-item-group *ngIf="localNodes[node._id].available">
          <ng-container *ngFor="let endpoint of node?.scheme?.endpoints | nodeEndpointsOutput; let j = index;">
            <ion-item *ngIf="endpoint.id == 'relay_0' || endpoint.id == 'relay_1'">
              <ion-icon slot="start" name="window-outline" class="icon icon-gz-window"></ion-icon>
              <ion-label>
                <span *ngIf="endpoint.id == 'relay_1'">{{'ACT_UP'|translate}}</span>
                <span *ngIf="endpoint.id == 'relay_0'">{{'ACT_DOWN'|translate}}</span>
              </ion-label>
              <ion-toggle slot="end" 
                [(ngModel)]="localNodes[node._id].endpoints[j].defaultState" 
                (ionChange)="changeState(node._id, endpoint._id, localNodes[node._id].endpoints[j].defaultState === 'On', true)">
              </ion-toggle>
            </ion-item>
          </ng-container>
        </ion-item-group>
      </ion-item-group>
    
      <ion-list-header *ngIf="awningNodes?.length">
        <ion-label>{{ 'AWNINGS' | translate }}</ion-label>
      </ion-list-header>
      
      <ion-item-group *ngFor="let node of awningNodes">
        <ion-item >
          <ion-label>{{node?.display_name || node?.name}}</ion-label>
          <ion-toggle slot="end" color="dark" 
            [(ngModel)]="localNodes[node._id].available" 
            (ionChange)="changeAvailability(node._id, localNodes[node._id].available)">
          </ion-toggle>
        </ion-item>
        <ion-item-group *ngIf="localNodes[node._id].available">
          <ion-item *ngFor="let endpoint of node?.scheme?.endpoints | nodeEndpointsOutput; let j = index; ">
            <ion-icon slot="start" name="umbrella-outline" class="icon icon-gz-awnings"></ion-icon>
            <ion-label>
              <span *ngIf="endpoint.id === 'relay_1'">{{'ACT_UP'|translate}}</span>
              <span *ngIf="endpoint.id === 'relay_0'">{{'ACT_DOWN'|translate}}</span>
              <span *ngIf="endpoint.id === 'relayblock'">{{'ACT_LOCK'|translate}}</span>
            </ion-label>
            <ion-toggle slot="end" 
              [(ngModel)]="localNodes[node._id].endpoints[j].defaultState" 
              (ionChange)="changeState(node._id, endpoint._id, localNodes[node._id].endpoints[j].defaultState === 'On', true)">
            </ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-item-group>

      <ion-list-header *ngIf="climaNodes?.length">
        <ion-label>{{ 'AIR CONDITIONING' | translate }}</ion-label>
      </ion-list-header>

      <ion-item-group *ngFor="let node of climaNodes">
        <ion-item >
          <ion-label>{{node?.display_name || node?.name}}</ion-label>
          <ion-toggle slot="end" color="dark" 
            [(ngModel)]="localNodes[node._id].available" 
            (ionChange)="changeAvailability(node._id, localNodes[node._id].available)">
          </ion-toggle>
        </ion-item>

        <ion-item-group *ngIf="localNodes[node._id].available">
          <ion-item *ngFor="let endpoint of node?.scheme?.endpoints | nodeEndpointsOutput; let j = index; ">
            <ion-icon slot="start" name="thermometer-outline" class="icon icon-gz-ac"></ion-icon>
            <ion-label>{{endpoint.display_name || endpoint.name}}</ion-label>
            <ion-toggle slot="end" 
              [(ngModel)]="localNodes[node._id].endpoints[j].defaultState" 
              (ionChange)="changeState(node._id, endpoint._id, localNodes[node._id].endpoints[j].defaultState === 'On', true)">
            </ion-toggle>
          </ion-item>
        </ion-item-group>
      </ion-item-group>
      <div style="width: 100%; height: 90px;">

      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="fade-footer" [class.visible]="isButtonVisible">
  <ion-toolbar>
    <ion-button expand="block" 
            class="ion-margin" 
            (click)="save()"
            [disabled]="isSaveButtonDisabled">
    {{'SAVE' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>

