<ion-content [fullscreen]="true">
  <div class="login">
    <form (ngSubmit)="doLogin()">
      <div class="no-header content-logo">
        <div class="content">
          <div class="app-icon">
            <img src="../../../assets/themes/gZHomeControl/logo.png" alt="Logo">
          </div>
        </div>
      </div>
      <div class="login-content">
        <ion-list>
          <ion-item>
            <ion-input placeholder="Email" type="email" [(ngModel)]="account.email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="account.password" name="password" required></ion-input>
          </ion-item>
          <div class="rememberme" *ngIf="!isWallTablet">
            <ion-label>Stay logged</ion-label>
            <ion-toggle mode="ios" [(ngModel)]="rememberMe" name="rememberMe" (ionChange)="rememberMeUpdate($event)"></ion-toggle>
          </div>
          <ion-button [disabled]="isLoading || lockLogin" class="do-login" expand="block" type="submit">
            <ng-container *ngIf="!isLoading">Sign In</ng-container>
            <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
          </ion-button>
        </ion-list>
      </div>
      <div class="version">
        <span>{{ appVersion }}</span>
      </div>
    </form>
  </div>
</ion-content>
