<ion-grid *ngIf="data.current !== undefined">
    <ion-row>
        <ion-col>
            <div class="switch-wrapper">
                <ion-button
                  (click)="updateName()"
                  color="primary"
                  size="small"
                  >
                    <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-label float-left>{{data.display_name || data.name}}</ion-label>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-grid class="button-group">
                <ion-row>
                    <ion-col>
                        <ion-button expand="block" fill="outline"
                            [disabled]="data.current == 'Off'"
                            (click)="onChangeEndpoint('Cool')"
                            [color]="data.current === 'Cool' ? 'secondary': 'light'">
                            Cool
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" fill="outline"
                            [disabled]="data.current == 'Off'"
                            (click)="onChangeEndpoint('Fan')"
                            [color]="data.current === 'Fan' ? 'secondary': 'light'">
                            Fan
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" fill="outline"
                            [disabled]="data.current == 'Off'"
                            (click)="onChangeEndpoint('Heat')"
                            [color]="data.current === 'Heat' ? 'secondary': 'light'">
                            Heat
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" fill="outline"
                            [disabled]="data.current == 'Off'"
                            (click)="onChangeEndpoint('Auto')"
                            [color]="data.current === 'Auto' ? 'secondary': 'light'">
                            Auto
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-item class="notifications-adjust">
            <ion-toggle class="notifications-switch" (ionChange)="updateNotification()" [(ngModel)]="notifications" value="1"></ion-toggle>
            <ion-label class="notifications-text" id="enabled" *ngIf="notifications" color="primary">{{'NOTIFICATIONS_ENABLED' |translate}}</ion-label>
            <ion-label class="notifications-text" id="disabled" *ngIf="!notifications">{{'NOTIFICATIONS_DISABLED' |translate}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->
</ion-grid>
<br />
