@use "../../../theme/variables.scss" as *;

.main_header {
  background-color: #119DA4;
  height: 100%;
  
  .header-row {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0;
  }

  
  .header-title {
    color: white;
    font-size: 27px;
    padding-left: 30px;
    text-align: left;
    font-family: -apple-system, Helvetica Neue, Roboto, Segoe UI, sans-serif;
    position: relative;
    width: auto;
  }

  .icons_actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    
    .icon {
      font-size: 32px;
      color: white;
      cursor: pointer;
      
      &.panicBtn {
        color: red;
      }
      
      &[hidden] {
        display: none;
      }
    }
  }
}

.tool_bar {
  background-color: #119DA4;
  padding: 0 25px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

  
  .grid {
    padding: 0;
    
    ion-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      
      .hour {
        text-align: center;
      }
      
      .temp {
        text-align: right;
      }
    }
  }
}


@media (max-width: $md) {
  .icons_actions {
    .icon {
      font-size: 3rem;
    }
  }
}
