<ion-grid *ngIf="data">
  <ion-row>
    <ion-col>
      <div class="switch-wrapper">
        <button
          (click)="updateName()"
          ion-button
          color="primary"
          icon-only
          small
          float-left
          >
          <ion-icon name="create"></ion-icon>
        </button>
        <ion-label float-left>{{data.display_name || data.name}}</ion-label>

        <button class="squishy" float-right>
          <span class="squishy-button"></span>
          <span class="squishy-label">
            <span class="icon-gz-movement-sensor" [ngClass]="data.current == 'Off' ? 'green' : 'red'"></span>
          </span>
        </button>
        <!-- <ion-item>
          <ion-toggle class="notifications-switch" (ionChange)="updateNotification()" [(ngModel)]="notifications" value="1"></ion-toggle>
          <ion-label class="notifications-text" id="enabled" *ngIf="notifications" color="primary">{{'NOTIFICATIONS_ENABLED'|translate}}</ion-label>
          <ion-label class="notifications-text" id="disabled" *ngIf="!notifications">{{'NOTIFICATIONS_DISABLED'|translate}}</ion-label>
        </ion-item> -->
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
